@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --bg-top-image: url(./images/bg-desktop-dark.jpg) no-repeat;
    --bg-top-image-mobile: url(./images/bg-mobile-dark.jpg) no-repeat;
    /* --bg-top-height-mobile: 270px; */
}


html, body {
/* position: absolute; */
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.flex-row{
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
}
/* .flex-row nt{
    border-radius: 0;
} */

.theme-dark{
    --bg-top-image: 0 0 url(./images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}
.theme-light{
    --bg-top-image: 0 0 url(./images/bg-desktop-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}
body{
    font: 400 18px/1 'Josefin Sans', sans-serif;
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--font-color);
}
header,main{
    max-width: 545px;
    margin: 0 auto;
}
header{
    justify-content: space-between;
    padding: 52px 0 1px; 
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1rem;
}
.theme-block{
    margin: -10px 0 0;
}
.theme-block #theme{
    display: none;
}
.theme-block #theme + label::before{
    content: '';
    background: url(./images/icon-sun.svg) no-repeat center;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
}
.theme-block #theme:checked + label::before{
    background: url(./images/icon-moon.svg) no-repeat center;
}
.add-new-item {
    display: flex;
    /* flex-direction: row nowrap; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 20px 20px 20px 20px; */
    background-color: var(--todo-bg);
    box-shadow: 0 10px 10px -10px var(--todo-shadow);
    border-radius: 5px;
    margin: 0 0 24px;
    padding: 0 26px;
    height: 65px;
    position: relative;
}
.add-new-item #addItem{
    background: transparent;
    color: var(--font-color);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font: 400 18px/1 'Josefin Sans', sans-serif;
    margin: 4px 0 0 47px;
}
.add-new-item span{
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    position: absolute;
    top: 21px;
    left: 26px;
    cursor: pointer;
}
.add-new-item span:hover{
    background: url(./images/icon-check.svg) no-repeat center, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));  
}
.content{
    background-color: var(--todo-bg);
    box-shadow: 0 42px 30px -9px var(--todo-shadow);
    border-radius: 5px;
    /* padding: 0 26px; */
    /* margin: 0 0 24px; */
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid hsl(236, 33%, 92%);
    position: relative;
}
ul li input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}
ul li label{
    position: relative;
    cursor: pointer;
    padding: 0 0 0 60px;
    display: inline-block;
    line-height: 1.2;
    margin: 0;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
}
ul li.hidden{
    display: none;
}
ul li input[type="checkbox"] ~ .checkmark{
    border: 1px solid var(--font-color);
    border-radius: 50%;
}
ul li input[type="checkbox"] ~ .checkmark:hover{
    border: 0;
    padding: 1px;
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));  
}
ul li input[type="checkbox"] ~ .checkmark:hover::before{
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--todo-bg);
    display: block;
}
ul li input[type="checkbox"]:checked ~ .checkmark{
    background: center url(./images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
ul li input[type="checkbox"]:checked ~ .text{
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}
.remove{
    background: url(./images/icon-cross.svg) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    display: none;
}
ul li:hover .remove{
    display: block;
}
.items-left{
    margin-right: 86px;
}
.bottom-items{
    padding: 20px 20px 20px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    align-items: baseline;
    /* border-radius: 5px; */
    background: var(--todo-bg);
}
.filter{
    margin-right: 47px;
}
.filter input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}
.filter label{
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    line-height: 1.2;
    margin: 0;
}
.filter label:hover{
    color: var(--font-color-hover);
}
.filter input[type="radio"]:checked ~ span{
    color: hsl(221, 62%, 52%);
}
.clear{
    color: var(--font-color);
    cursor: pointer;
}
.clear:hover{
    color: var(--font-color-hover);
}

.ftext h3{
    position: absolute;
    width: 179px;
    height: 14px;
    left: 625px;
    top: 700px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.194444px;
    color: #9495A5;
}


/* @media only screen and (min-width: 375px) {
    *,*::before,*::after{
        box-sizing: border-box;
    }
    .theme-dark{
       
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 600px;
        border: 2px solid tomato;

    }
    .dark-theme{
        background: var(--bg-top-image);
        width: 100vw;
        background-size: cover;
        background-position: contain;
    }
}
@media only screen and (min-width: 770px){
    .ftext{
        position: absolute;
        top: -20px;
        left: -130px;
    }
}
@media only screen and (min-width: 1440px){
    .ftext{
        position: absolute;
        top: 5px;
        left: 240px;
    }
} */

@media screen and (max-width: 375px) {
    body {
      --bg-top-image: var(--bg-top-image-mobile);
      background-size: 100% 200px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* background-color: rgba(227, 228, 241, 1); */
    }
    .top{
        margin: 0 24px;
        padding-top: 25px;

    }
    h1{
        font-size: 1.5rem;
    }
    .add-new-item{
        margin: 10px 24px;
        height: 48px;
    }
    .first{
        margin-top: -9px;
    }
    /* input[type="text"]{
        font-size: 10px;
    } */
    .content{
        margin: 24px;
        font-size: 0.66em;
        /* box-shadow: none; */
        box-shadow: 0 10px 10px -10px var(--todo-shadow);
    }
    li {
        padding-left: -10px;
    }
  
    .bottom-items{
      margin: 24px;
      height: 48px;
      box-shadow: 0 10px 10px -10px var(--todo-shadow);
    }
    .filter{
        /* text-align: center; */
        padding-left:  45px; 
    }
    .new1, .new2{
        display: none;
    }
    .mobile{
        outline: none;
        border: none;
    }
    .ftext, h3{
        margin-left: -530px;
        margin-top: -10px;

    }
/* 
    .mobile{

    } */
    /* .items-left, .clear {
    display: list-item;
    margin: 10px 0;
    
  }  */

  }
  @media screen and (min-width: 376px){
    .mobile{
        display: none;
    }
  }